body {
    background-image: url(https://assets.beanbox.com/blog_images/qAsGqnrZTCmLiZ89BDaU.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
    color: #2c2c2c;
}

h1 {
    font-size: 40px;
    margin: 0 0 15px;
    letter-spacing: 2px;
}

h2 {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.established {
    font-style: italic;
    margin-bottom: 10px;
}

h1,
h2,
p {
    text-align: center;
}

.menu {
    width: 80%;
    max-width: 500px;
    background-color: burlywood;
    margin: 20px auto;
    padding: 25px;
    border-radius: 10px;
    border: 2px solid brown;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

img {
    display: block;
    margin: 10px auto;
    width: 60px;
}

hr {
    height: 2px;
    background-color: brown;
    border: none;
    margin: 15px 0;
}

.bottom-line {
    margin-top: 25px;
}

h1,
h2 {
    font-family: Impact, serif;
    color: #3b1c1c;
}

.item p {
    display: inline-block;
    margin: 5px 0;
    font-size: 18px;
}

.flavor,
.dessert {
    text-align: left;
    width: 70%;
}

.price {
    text-align: right;
    width: 30%;
}

/* FOOTER */
footer {
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
}

.address {
    margin-bottom: 5px;
    font-style: italic;
}

a {
    color: #2c2c2c;
    text-decoration: none;
}