* {
  box-sizing: border-box;
}

body {
  background-color: #c9d2fc;
}

.cat-head {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 205px;
  height: 180px;
  background: linear-gradient(#5e5e5e 85%, #45454f 100%);
  border: 1px solid #000;
  border-radius: 46%;
}

/* Shared Ear Structure */
.cat-left-ear,
.cat-right-ear {
  position: absolute;
  top: -26px;
  z-index: 1;
  border-top-left-radius: 90px;
  border-top-right-radius: 10px;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 70px solid #5e5e5e;
}

.cat-left-ear {
  left: -31px;
  transform: rotate(-45deg);
}

.cat-right-ear {
  left: 163px;
  transform: rotate(45deg);
}

/* Shared Inner Ear */
.cat-left-inner-ear,
.cat-right-inner-ear {
  position: absolute;
  top: 22px;
  left: -20px;
  border-top-left-radius: 90px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 40%;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid #3b3b4f;
}

/* Eyes */
.cat-left-eye,
.cat-right-eye {
  position: absolute;
  top: 54px;
  width: 30px;
  height: 40px;
  background-color: #000;
  border-radius: 60%;
}

.cat-left-eye {
  left: 39px;
  transform: rotate(25deg);
}

.cat-right-eye {
  left: 134px;
  transform: rotate(-25deg);
}

/* Eye Highlights */
.cat-left-inner-eye,
.cat-right-inner-eye {
  position: absolute;
  top: 8px;
  width: 10px;
  height: 20px;
  background-color: #fff;
  border-radius: 60%;
}

.cat-left-inner-eye {
  left: 2px;
  transform: rotate(10deg);
}

.cat-right-inner-eye {
  left: 18px;
  transform: rotate(-5deg);
}

/* Nose */
.cat-nose {
  position: absolute;
  top: 108px;
  left: 85px;
  transform: rotate(180deg);
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid #442c2c;
}

/* Mouth */
.cat-mouth div {
  width: 30px;
  height: 50px;
  border: 2px solid #000;
  border-radius: 190%/190px 150px 0 0;
  border-color: black transparent transparent transparent;
}

.cat-mouth-line-left,
.cat-mouth-line-right {
  position: absolute;
  top: 88px;
}

.cat-mouth-line-left {
  left: 74px;
  transform: rotate(170deg);
}

.cat-mouth-line-right {
  left: 91px;
  transform: rotate(165deg);
}

/* Whiskers */
.cat-whiskers-left div,
.cat-whiskers-right div {
  width: 40px;
  height: 1px;
  background-color: #000;
}

.cat-whiskers-left div,
.cat-whiskers-right div {
  position: absolute;
}

.cat-whisker-left-top {
  top: 120px;
  left: 52px;
  transform: rotate(10deg);
}

.cat-whisker-left-middle {
  top: 127px;
  left: 52px;
  transform: rotate(3deg);
}

.cat-whisker-left-bottom {
  top: 134px;
  left: 52px;
  transform: rotate(-3deg);
}

.cat-whisker-right-top {
  top: 120px;
  left: 109px;
  transform: rotate(-10deg);
}

.cat-whisker-right-middle {
  top: 127px;
  left: 109px;
  transform: rotate(-3deg);
}

.cat-whisker-right-bottom {
  top: 134px;
  left: 109px;
  transform: rotate(3deg);
}
